.calendarContainer {
  height: calc(100vh - 3rem);
  padding: 1.5rem;
  background-color: #ffffff;
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
  /* display: flex;
  flex-direction: column; */
}

:global(.rbc-calendar) {
  /* flex: 1;
  min-height: 0; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* ============================================ */
/* WEEK & DAY VIEWS */
/* ============================================ */

:global(.rbc-time-view) {
  /* flex: 1;
  min-height: 0px; */
  height: 100%;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:global(.rbc-time-header) {
  /* flex-shrink: 0; */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff;
}

:global(.rbc-time-header-content) {
  display: flex;
  flex: 1;
  border-left: 1px solid #ffffff;
}

:global(.rbc-time-content) {
  flex: 1;
  overflow-y: auto;
  /* overflow-x: hidden; */
  display: flex;
}

:global(.rbc-time-gutter) {
  white-space: nowrap;
  text-align: right;
  padding-right: 8px;
}

:global(.rbc-time-slot) {
  border-top: 1px solid #f3f4f6;
}

:global(.rbc-timeslot-group) {
  min-height: 60px;
  border-bottom: 1px solid #ffffff;
}

:global(.rbc-time-header-cell) {
  flex: 1;
  border-left: 1px solid #ffffff;
  padding: 8px;
  text-align: center;
}

:global(.rbc-time-header-cell):first-child {
  border-left: none;
}

:global(.rbc-day-slot) {
  flex: 1;
  border-left: 1px solid #ffffff;
  position: relative;
}

:global(.rbc-day-slot):first-child {
  border-left: none;
}
