.dayEventContainer {
  height: 100%;
  width: 100%;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 90%;
  color: rgb(27, 27, 27);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  box-sizing: border-box;
}

.eventContent {
  width: 100%;
  height: fit-content;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.eventTitle {
  font-weight: 600;
}
.eventMeta {
  font-weight: 400;
  font-size: 12px;
}
