* {
  box-sizing: border-box;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #faf9f6;
  padding: 50px 40px 30px 40px;

  border: 1px solid rgb(220, 220, 220);
  border-radius: 18px;

  min-width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.131);
}

.modalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  z-index: 40;

  position: relative;
}

.closeButton {
  position: fixed;
  top: 6%;
  right: 3%;
  background: none;
  border: none;
  cursor: pointer;
}

.modalContent {
  font-size: 17px;
  font-weight: 500;
}

.buttonsRow {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.buttonsRow > button {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
}

.leftBtn {
  background-color: #494949;
  color: white;
  border: none;
}

.leftBtn:hover {
  background-color: #303030;
}

.rightBtn {
  background-color: rgb(255, 255, 255);
  border: 1px solid #d9d9d9;
}

.rightBtn:hover {
  background-color: rgb(223, 223, 223);
}
