* {
  font-family:
    -apple-system, BlinkMacSystemFont, "Pretendard", "Apple SD Gothic Neo",
    sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0;
}

.mypageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  padding-bottom: 80px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  align-items: center;
}

.mypageContainer::-webkit-scrollbar {
  display: none;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.widgetsWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 24px 20px;
  background-color: #ffffff;
}

.profileRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.profileImgWrapper {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.profileImgWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #f0f0f0;
}

.editInput {
  display: none;
}

.editButton {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  border: 0.5px solid #bebebe;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: all 0.2s ease;
}

.nameEmailCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  flex-grow: 1;
  padding: 0 10px;
}

.nameText {
  font-size: 25px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 4px;
  line-height: 1.2;
}

.emailText {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
  line-height: 1.2;
}

.edit.emailText {
  margin-left: 10px;
}

.editBtn {
  cursor: pointer;
  margin-left: auto;
}

.nameInput {
  width: min(440px, 100%);
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background: #fff;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 6px;
  outline: none;
}

.nameInput::placeholder {
  color: #8f8f8f;
  font-weight: 700;
}

.timeTableBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  padding: 10px 20px;

  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.timeTableBtn:active {
  background-color: #f5f5f5;
}

.timeTableBtn img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.timeTableBtn span {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
}
