main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
}

.mypageContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  padding-bottom: 80px;
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
}

.widgetsWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 20px;
  background-color: #ffffff;
}

.profileRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.profileRow > img {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #f0f0f0;
}

.nameEmailCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  flex-grow: 1;
  padding: 0 10px;
}

.nameText {
  font-size: 25px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 4px;
  line-height: 1.2;
}

.emailText {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
  line-height: 1.2;
}

.backBtn {
  cursor: pointer;
  margin-left: auto;
}

.timeTableBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  padding: 18px 20px;

  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.timeTableBtn:active {
  background-color: #f5f5f5;
}

.timeTableBtn img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.timeTableBtn span {
  font-size: 16px;
  font-weight: 500;
  color: #111111;
}
