body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  padding: 0;
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
}

.restContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px 44px 20px 44px;
  box-sizing: border-box;
  /* position: relative; */
  overflow-y: auto;
  transition: flex-basis 0.3s ease;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.restContainer::-webkit-scrollbar {
  display: none;
}

.sidePanel {
  max-width: 40%;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  background-color: #ffffff;
  box-shadow: -4px 0 24px rgba(0, 0, 0, 0.05);
  z-index: 20;
  overflow-y: auto;
  flex-shrink: 0;
  animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 1024px) {
  .sidePanel {
    width: 340px;
  }
}

.noResult {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.noResult span {
  font-weight: 500;
  color: #a3a3a3;
}

.dropdownRow {
  display: flex;
  justify-content: flex-end; /* Align to right */
  margin-bottom: 1rem;
  padding-right: 1rem;
}

.sizeSelectContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  color: #666;
}

.sizeSelect {
  padding: 4px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}
